<<<<<<< HEAD
.{margin: 0;
  padding: 0;
  text-decoration:none; 
}
#one{
	position: relative;
	float: left;
	width:440px;
	height: 400px;
	
}
#one .logo {
 padding-left: 160px;
 padding-top: 35px;
 font-size: 24px;
}
#one .logo a{
	color: #333;
	text-decoration: none;
}
#one .logo a:hover{
	color: #F90;
}
#two .logo {
 padding-left: 160px;
 padding-top: 35px;
 font-size: 24px;
}
#two .logo a{
	color: #333;
	text-decoration: none;
}
#two .logo a:hover{
	color: #F90;
}
#three .logo {
 padding-left: 160px;
 padding-top: 35px;
 font-size: 24px;
}
#three .logo a{
	color: #333;
	text-decoration: none;
}
#three .logo a:hover{
	color: #F90;
}
#con{
	left: 10px;
	padding-top: 40px;
	width:420px;
	height: 256px;
	border: 1px solid #fff;
	overflow: hidden;
	position: relative;
}
#plo{
	left: 10px;
	padding-top: 40px;
	width:420px;
	height: 256px;
	border: 1px solid #fff;
	overflow: hidden;
	position: relative;
}
#container{
	left: 10px;
	padding-top: 40px;
	width:420px;
	height: 256px;
	border: 1px solid #fff;
	overflow: hidden;
	position: relative;
}
#list{
    width: 2940px;
    height: 256px;
    position: absolute;
    z-index: 1;
}
#list img{
	float: left;
}
#buttons{
	position: absolute;
	height: 10px;
	width: 100px;
	z-index: 2;
	bottom: 20px;
	left: 150px;
}
#buttons span{
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#333;
    margin-right: 5px;
}
#buttons .on{
	background:orangered;
}
.arrow{
	cursor: pointer;
	display: none;
	line-height: 39px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 2;
	top:140px;
	background-color: rgba(0,0,0,.3);
	color: #fff; 
}
.arrow:hover{
	background-color: rgba(0, 0, 0, .7);
}
#container:hover .arrow{
	display: block;
}
#prev{
	left: 20px;
}
#next{
	right: 20px;
}
#two{
	position: relative;
	float: left;
	width:440px;
	height: 400px;
	
}
#three{
	position: relative;
	float: left;
	width:440px;
	height: 400px;
	
}
=======
header .search img {
	float:right;
	width: 30%;
	height: 30px;
	margin-top: 10px;
	line-height: 30px;
	
}
#banner{
	background:url(../img/img2.png);
	background-repeat: no-repeat;
	background-position: center center;
	height:560px;
    background-size:cover;
}
#banner .inner{
	max-width: 300px;
	left:300px;
	position:relative;
	top:360px;
}
#banner .inner .warp{
	background:#EFEAEA;
	filter:alpha(opacity:30);
	opacity:0.3;
	width:1100px;
	height:100px;
	position:absolute;
	z-index: 0;
}
#banner .blue h1{

	display:block;
	color:#000000;
	letter-spacing: 1px;
	text-transform: uppercase;
    font-weight: "微软黑体";
	margin:0;
	position:relative;
	z-index: 1;
	}
		
button{
	border:none;
	background:#6C5555;
	color:#BFA69A;
	padding:8px 38px 8px 38px;
    width:auto;
    margin:auto;
    position:relative;
    font-size:1em;
    font-family: "楷体";
    position:relative;
	z-index: 1;
	cursor: pointer;
}
>>>>>>> a49a1801a7a73067e151f5fcf9aa38a4c64c3ff8
